.pageusersetup {
    margin: auto;
    margin-top: 5%;
    max-width: 600px;
    background-color: white;
}
.pageusersetup h2 {
    font-weight: 500;
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
}